@charset "utf-8";

// COLORS
$primary: #00d1b2;
$info: #209CEE;
$success: #23D160;
$warning: #FFDD57;
$danger: #FF3860;
$light: #F5F5F5;
$dark: #363636;

// TEXT
$text: #4A4A4A;
$link: #3273DC;
$body-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;
$title-family: false;
$button-family: false;

// BREAKPOINTS
$gap: 32px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);
$widescreen-enabled: true;
$fullhd-enabled: false;

// LAYOUT
$section-padding: 3rem 1.5rem;
$section-padding-medium: 6rem 1.5rem;
$section-padding-large: 9rem 1.5rem;

// SPACING HELPERS (.mt-3, .mx-auto, .p-5, etc)
$spacing-shortcuts: (
  "margin": "m",
  "padding": "p",
);
$spacing-directions: (
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l",
);
$spacing-horizontal: "x";
$spacing-vertical: "y";
$spacing-values: (
  "0": 0,
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 1rem,
  "4": 1.5rem,
  "5": 3rem,
  "auto": auto,
);

// SEE DOCS FOR MORE:
// https://bit.ly/30UvE5O

// IMPORT BULMA
@import "~bulma/bulma.sass";

// IMPORT FONT AWESOME
@import url("https://use.fontawesome.com/releases/v5.10.1/css/all.css");

body {
  // Fix Bulma bug where columns cause
  // horizontal scroll on mobile.
  // https://github.com/jgthms/bulma/issues/449
  overflow-x: hidden;
}

#root {
  // Full height of screen and flex so that we can push footer
  // to the bottom even if content is shorter than screen
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // Push footer to the bottom of the screen
  > .footer {
    margin-top: auto;
  }
  // Prevent child elements from shrinking when content
  // is taller than the screen (quirk of having flex parent)
  > * {
    flex-shrink: 0;
  }

  .super-container {
    width: 100vw;
    background-image: url('../imgs/bg_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}

.logo-container {
    width: 100%;
    height: 500px;
    background-image: url('../imgs/logo_white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    position: relative;
    top: 150px;
}

.flex-container {
    display: flex;
    height: 100vh;
}

.menu-title>a {
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none !important;
}

.menu-title{
    width: 100%;
    text-align: center;
}


.menu-title:hover {
    opacity: 0.8;
}

.pos-bottom {
    position: absolute;
    bottom: 100px;
}

.store-logo{
    width: 400px;
    height: 200px;
    background-image: url('../imgs/store_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.coming-soon{
  font-weight: 600;
  font-size: 25px;
  color: green;
}

.pos-semi-bottom {
    position: absolute;
    bottom: 200px;
}

.pos-top {
    position: absolute;
    top: 100px;
}

.first-container,
.third-container {
    width: 20%;
    height: 100%;
    position: relative;
}

.second-container {
    width: 60%;
    height: 100%;
    position: relative;
}

.info-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    color: #222;
    text-align: center;
    margin: auto;
    width: 40%;
    //margin-top: 50px;
    h1{
      font-weight: 600;
      font-size: 30px;
    }
}

.info-content {
    text-align: center;
    font-size: 20px;
    line-height: 35px;
}
}
